html body{
  background-color: #DCCFB1;
}


/* ----------------NavBar Component---------------- */

.header{
  background-color:#311700;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  color:white;
  align-items: center;
  font-family:cursive;
}
.headerTitle{
  font-size: 2rem;
  text-align: center;
}
@media screen  and (max-width:425px){
  
  .headerTitle{
    font-size: 18px}
  
}

@media screen  and (max-width:768px){
  .NavbarIcon{
    display: none;
  }
}


/* ----------------CartWidget Component ----------------*/
.disp-flex-bag{
  display: flex;
    flex-direction: row;
    align-items: center;
}
.cart-num{
  color: white;
}
.bag-icon{
  width: 60px;
  padding-left: 15px;
}
@media screen  and (max-width:425px){
  
  .disp-flex-bag{
    display: none;
  }
}

/*------------------LowResCartButton comp-----------------*/

.lowRescartbuttondiv{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

}
.disp-none-cart{
  color: white;
  padding: 10px;
  border-width: 1px;
  width: 100%;

}
@media screen  and (min-width:425px){
  
  .disp-none-cart {
    display: none;
  }
  .lowRescartbuttondiv{
    display: none;
  }
}
/* ----------------Categories Component ----------------*/
.menuItemCss {
  color: black !important;
  background-color: white !important;
}
/*------------------------BANNER Component------------------------*/
.greetingBanner{
  background-color: #B38A56;
  color: white;
  /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
  font-family:cursive;
  font-size:x-large;
  text-align: center;
  /* border-radius: 10px;
  border-color: white; */
  /* border-width: 1px; */
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen  and (max-width:320px){
  .greetingBanner{
    font-size: 15px;
  }

}
/* ----------------ItemListContainer Component ----------------*/
.grid-Items{
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    align-content: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
}


@media screen  and (max-width:768px){
  
  .grid-Items{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen  and (max-width:425px){
  
  .grid-Items{
    grid-template-columns: repeat(1, 1fr);
  }
}
/* ----------------Item.jsx Component ----------------*/

.item_margins{
  margin-bottom: 15px;
  margin-top: 10px;
}

.itemresponsive{
  width: 20vw;
  
}
.itemNameDiv{
  border-radius: 10px;
  height: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cardstyles{
  background-color: #C7A681;
  border-width: 1px;
  border-style: dotted;
  border-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: small;
}
.descript_priceDiv{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

}
.seeMoreButtonDiv{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.seeMoreButton{
    transition: all 0.2s ease, visibility 0s;
    border-width: 1px;
    border-color: black;

    box-shadow: 2.83px 2.83px 0 #c19361;
    background: #B38A56;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 100%;
    min-height: 10px;
    min-width: 10px;
    padding: 0;
    touch-action: manipulation;
    width: 60%;
    font-family:cursive;
    font-size: 15px;
    font-weight: 500;
}
.seeMoreButton:hover{
  box-shadow: 3px 3px 0 #5B3509;
}

@media screen  and (max-width:768px){
  
  .itemresponsive{
    width: 40vw;
  }
}
@media screen  and (max-width:425px){
  
  .itemresponsive{
    width: 70vw;
  }
}

/*------------------------- ItemDetailContainer.jsx--------------------------------*/
.itemDetailContainerDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
}


/*------------------------- ItemDetail.jsx--------------------------------*/
.addorremovequantity{
  height: 30px;
  width: 20%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border-width: 2px;
  border-style:double;
}
.moreOrLessItemsDiv{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.addtocardbutton{ 
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  width: 100%;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*------------------------- ItemCount.jsx--------------------------------*/


/* ----------------LateralCart Component ----------------*/

.AsideCss{
  width: 350px;
  background-color: bisque;
  height: 100vh;
  position:fixed;
  top: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}
.closeIcon{
  float: right;
  margin: 10px;
  
}
.sideCartTitle{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sideCartText{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.lateralButton{
  background-color: grey;
  border-radius: 5px;
  border-width: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}
.div-buttonGrouplateralCart{

  margin-top: 5px;
  display: grid;
  gap: 10px;
  grid-template-columns: 2;
}
/* ----------------Footer Component---------------- */

.footerbar{
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.leyendFooter{
  font-family:'Times New Roman', Times, serif ;
}
.urlFooter{
  font-family:'Times New Roman', Times, serif ;

}
