@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
html body{
  background-color: #DCCFB1;
    background-image: url("../src/assets/bg3.png");
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 70%;
}
*{
  font-family: 'Playfair Display', serif;
}


/* ----------------Loader Component---------------- */
.css-Loader-div{
  display: flex;
  flex-direction: column;
  height: 70vh;
}

/* ----------------NavBar Component---------------- */

.header{
  
  background-color:#e9dfc8;
  
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  color: #000000;
  align-items: center;
  position:sticky;
  top: 0;
  height: 100px;
  width: 100vw;
}
.css-1mr00g2{
  display: grid;
    grid-template-columns: 1.5fr 1fr 15fr 2fr !important;
}
.headerTitle{
  font-size: 2.5rem;
  text-align: center;
  font-family: 'Playfair Display', serif;
}
@media screen  and (max-width:425px){
  
  .headerTitle{
    font-size: 18px}
  
}

@media screen  and (max-width:768px){
  .NavbarIcon{
    display: none;
  }
}


/* ----------------CartWidget Component ----------------*/
.disp-flex-bag{
  display: flex;
    flex-direction: row;
    align-items: center;
}
.cart-num{
  color: white;
}
.bag-icon{
  width: 60px;
  padding-left: 15px;
}
@media screen  and (max-width:425px){
  
  .disp-flex-bag{
    display: none;
  }
}

/*------------------LowResCartButton comp-----------------*/

.lowRescartbuttondiv{
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;

}
.disp-none-cart{
  color: white;
  padding: 10px;
  border-width: 1px;
  width: 100%;

}
@media screen  and (min-width:425px){
  
  .disp-none-cart {
    display: none;
  }
  .lowRescartbuttondiv{
    display: none;
  }
}
/* ------------------ Home component -------------------*/

.homeFirstDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

}
.homeSecondDiv{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;

}
.BN_logo_home_div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.BN_logo_home_img{
  width: 30%;
  
}

.homeImgCss{
  width:35vw;
  margin: 40px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-bottom-left-radius: 55px;
  border-top-right-radius:55px;
}

.homeText{
  background-color: #C7A681;
  border-width: 1px;
  border-style: dotted;
  border-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 60px;
  border-radius: 20px;
  height: 400px;
  margin-left: 60px;
  margin-right: 60px;
  width: 30vw;
}

/* ----------------Categories Component ----------------*/
.menuItemCss {
  color: black !important;
  background-color: white !important;
}
/*------------------------BANNER Component------------------------*/
.greetingBanner{
  background-color: #DDD0B2;
  color:#5B3509;
  font-size:x-large;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen  and (max-width:320px){
  .greetingBanner{
    font-size: 15px;
  }

}
/* ----------------ItemListContainer Component ----------------*/
.grid-Items{
    grid-template-columns: repeat(4, 1fr);
    display: grid;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    align-content: stretch;
    margin-top: 10px;
    margin-bottom: 10px;
}
.NoProductsMessageDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.NoProductsMessage{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #c9b195;
  border-width: 1px;
  border-style: dotted;
  border-top-left-radius: 20px;
  border-bottom-right-radius:20px;
  font-size: 25px;
  width: 70%;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.imgNoProductsMessageDiv{
  width: 40%;
}
.imgNoProductsMessage{
  border-top-left-radius: 55px;
  border-bottom-right-radius:55px;
}

@media screen  and (max-width:768px){
  
  .grid-Items{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen  and (max-width:425px){
  
  .grid-Items{
    grid-template-columns: repeat(1, 1fr);
  }
}
/* ----------------Item.jsx Component ----------------*/

.item_margins{
  margin-bottom: 15px;
  margin-top: 10px;
}

.itemresponsive{
  width: 20vw;
  
}
.itemNameDiv{
  border-radius: 10px;
  height: 30px;
  font-size: x-large;
  display: flex;
  justify-content: center;
  align-items: center;

}

.cardstyles{
  background-color: #C7A681;
  border-width: 1px;
  border-style: dotted;
  border-color: white;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: small;
}
.descript_priceDiv{
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

}
.seeMoreButtonDiv{
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.seeMoreButton{
    transition: all 0.2s ease, visibility 0s;
    border-width: 1px;
    border-color: black;
    box-shadow: 2.83px 2.83px 0 #c19361;
    background: #B38A56;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 100%;
    min-height: 10px;
    min-width: 10px;
    padding: 0;
    touch-action: manipulation;
    width: 60%;
    font-size: 15px;
    font-weight: 500;
}
.seeMoreButton:hover{
  box-shadow: 3px 3px 0 #5B3509;
}

@media screen  and (max-width:768px){
  
  .itemresponsive{
    width: 40vw;
  }
}
@media screen  and (max-width:425px){
  
  .itemresponsive{
    width: 70vw;
  }
}

/*------------------------- ItemDetailContainer.jsx--------------------------------*/
.itemdetailcontainer{display: flex;
    justify-content: center;}

/*------------------------- ItemDetail.jsx--------------------------------*/
.detail_cardstyle{
  background-color: #C7A681;
  border-width: 1px;
  border-style: dotted;
  border-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-size: small;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.itemDetailNameDiv{
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 10px;
}
.itemDetailImg{
  width: 70%;
  border-top-left-radius: 55px;
  border-bottom-right-radius:55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.imgdetail_css{
  border-top-left-radius: 55px;
  border-bottom-right-radius:55px;
}
.descript_priceDiv{
  background-color: #c9b195;
  border-width: 1px;
  border-style: dotted;
  border-top-left-radius: 20px;
  border-bottom-right-radius:20px;
  font-size: 20px;
  width: 70%;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.addorremovequantity{
  height: 30px;
  width: 18%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}
.moreOrLessItemsDiv{
  display: flex;
  justify-content: space-around !important;
  align-items: center;
  width: 60%;
  
}
.AddTocartbuttonDiv{
  display: flex;
  width: 61%;
  justify-content: center;
}

.addtocardbutton{ 
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  height: 30px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
/*------------------------- ItemCount.jsx--------------------------------*/


/* ----------------LateralCart Component ----------------*/

.AsideCss{
  width: 350px;
  background-color: bisque;
  height: 100vh;
  position:fixed;
  top: 0;
  right: 0;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}
.closeIcon{
  float: right;
  margin: 10px;
  
}
.sideCartTitle{
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.sideCartText{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}
.lateralButton{
  background-color: grey;
  border-radius: 5px;
  border-width: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}
.div-buttonGrouplateralCart{

  margin-top: 5px;
  display: grid;
  gap: 10px;
  grid-template-columns: 2;
}
/* ----------------Footer Component---------------- */

.footerbar{
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: center;

}


