/* ----------------NavBar Component---------------- */

.header{
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  color: rgb(255, 255, 255);
  align-items: center;

}
.headerTitle{
  font-size: 2rem;
  text-align: center;
}

/* ----------------CartWidget Component ----------------*/
.disp-flex-bag{
  display: flex;
    flex-direction: row;
    align-items: center;
}
.num-backg{
  color: white;
}
.bag-icon{
  width: 60px;
  padding-left: 15px;
}

/* ----------------Categories Component ----------------*/
.menuItemCss {
  color: black !important;
  background-color: white !important;
}

/* ----------------ItemListCpntainer Component ----------------*/
.greetingBanner{
  background-color: black;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size:x-large;
  text-align: center;
  border-radius: 10px;
  border-color: white;
  border-width: 1px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* ----------------LateralCart Component ----------------*/

.AsideCss{

  width: 350px;
  background-color: bisque;
  height: 100vh;
  position:absolute;
  float:right;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;
}


/* ----------------Footer Component---------------- */

.footerbar{
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
}
.leyendFooter{
  font-family:'Times New Roman', Times, serif ;
}
.urlFooter{
  font-family:'Times New Roman', Times, serif ;

}